# Global snippets

snippet fixme
	FIXME:`strftime("%Y-%m-%d")`:${1:Author}:${2:Message...}
snippet todo
	TODO:`strftime("%Y-%m-%d")`:${1:Author}:${2:Message...}
snippet dbg
	*** DEBUG DATA ***: IF IT'S COMMITED - REMOVE IMMEDIATELY!!!
